.pop-up {
    padding: 2rem 10%;
    color: rgb(71, 68, 68);
}
.flex {
    display: flex;
    justify-content: space-between;
}

.flex h4 {
    align-items: ;
    text-align: left;
}

.meal {
    display: flex;
    justify-content: center;
    text-align: center;  
}

.closebtn {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(71, 68, 68);
}

h2, h3{
    text-align: center;
}

#form {
    flex-direction: column;
    align-items: flex-start;
}

::placeholder {
    font-size: 1rem;
    padding: 5px;
}

.name-field, textarea {
    margin-bottom: 1rem;
    box-shadow: 1px 1px;
    padding: 5px;
}

.name-field, textarea, .comment-btn {
    border: 3px solid rgb(71, 68, 68);
}

.comment-btn {
    cursor: pointer;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(71, 68, 68);
    background-color: #fff;
}


